nextflow.enable.dsl=2

params {
    primary_raw_dir = null
    outdir = "results_step2"
    min_genes = 200
    max_pct_mito = 20.0
}

includeConfig 'conf/base.config'

profiles {
    conda {
        conda.enabled = true
    }

    workstation {
        process.executor = 'local'
        includeConfig 'conf/workstation.config'
    }
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}