/*
 * Deep-EVI workstation configuration
 * Ubuntu/WSL workstation
 */

process {

    withName:TCGA_BRCA_09B {
        cpus = 4
        memory = '10 GB'
        time = '8h'
        maxForks = 1
    }

    withName:DEEP_EVI {
        cpus = 4
        memory = '10 GB'
        time = '8h'
        maxForks = 1
    }

    withName:TCELL_TRAJECTORY {
        cpus = 4
        memory = '8 GB'
        time = '4h'
        maxForks = 1
    }

    withName:BIOLOGICAL_VALIDATION {
        cpus = 4
        memory = '8 GB'
        time = '4h'
        maxForks = 1
    }

    withName:EVALUATE_INTEGRATION {
        cpus = 4
        memory = '8 GB'
        time = '4h'
        maxForks = 1
    }

    withName:BENCHMARK_INTEGRATION {
        cpus = 4
        memory = '8 GB'
        time = '4h'
        maxForks = 1
    }

    withName:DEEP_EVI_CHARACTERIZATION {
        cpus = 4
        memory = '10 GB'
        time = '8h'
        maxForks = 1
    }

    withName:DEEP_EVI_ABLATION {
        cpus = 4
        memory = '10 GB'
        time = '8h'
        maxForks = 1
    }

    withName:DEEP_EVI_GRAPH_DIAGNOSTIC {
        cpus = 4
        memory = '10 GB'
        time = '8h'
        maxForks = 1
    }

    withName:DEEP_EVI_INDEPENDENT_VALIDATION {
        cpus = 4
        memory = '10 GB'
        time = '8h'
        maxForks = 1
    }

    withName:TCGA_SIGNATURE {
        cpus = 4
        memory = '8 GB'
        time = '4h'
        maxForks = 1
    }
}

process {
    withLabel: 'DEEP_EVI_10A5' {
        cpus = 4
        memory = '8 GB'
        time = '2h'
        maxForks = 1
    }
}